html{
	background-color:#2F2F2F;
}

body{
	background-color:#333;
}


#mainWrapper {
	height: 100%;
	background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0, #EDEDED),
	color-stop(0.08, #EAEAEA),
	color-stop(1, #2F2F2F),
	color-stop(1, #AAAAAA)
);
background-image: -o-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -moz-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -webkit-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -ms-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: linear-gradient(to top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.generic-container {
  margin: 1%;
  left: 1%;
  right: 1%;
}

.custom-width {
    width: 80px !important;
}

body, #mainWrapper, .form-control{
	font-size:12px!important;
}

#mainWrapper {
	/*height: 720px; Without explicit px values, % in children's does not work*/
	height: 100vh; /*with Viewport-Percentage, we can handles all devices screens  */
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

.login-container {
    margin-top: 100px;
    background-color: floralwhite;
    width: 40%;
    left: 30%;
    position: absolute;
}

.login-card {
    width: 80%;
    margin: auto;
}

.login-form {
    padding: 10%;
}

.header{
	display: block;
	background-color:#4c565c;
}

.header img {
	width:100%;
}

.footer{
	display: block;
	color: white;
	text-align: center;
}

.divContainer{
	width: 80%;
	padding-left:0.5%;
	padding-top:0.5%;
	padding-bottom:0.5%;
	margin-left: 10%;
	background-color: #4c565c;
}

.divBox{
	display: inline-block;
	margin: 1%;
	width: 31%;
	height: 47.5%;
	background-color: yellow;
}

#firstBox{
	width: 97.5%;
	height: 47.5%;
	margin: 1%;
	background-color: white;
}

#firstBoxImgDiv{
	display: inline-block;
	width: 343px;
	height: 343px;
	margin: 1%;
	background-color: black;
}

#firstBoxTextDiv{
	display: inline-block;
	width: 68%;
	height: 343px;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 1%;
	background-color: black;
}

.panel{
	background-color: transparent;
}