html{
	background-color:#2F2F2F;
}

body{
	background-color:#f2f2f2;
}


#mainWrapper {
	height: 100%;
	background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0, #EDEDED),
	color-stop(0.08, #EAEAEA),
	color-stop(1, #2F2F2F),
	color-stop(1, #AAAAAA)
);
background-image: -o-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -moz-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -webkit-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -ms-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: linear-gradient(to top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.generic-container {
  margin: 1%;
  left: 1%;
  right: 1%;
  margin-left: 20em;
  margin-right: 20em;
  vertical-align: center;
}

.custom-width {
    width: 80px !important;
}

body, #mainWrapper, .form-control{
	font-size:12px!important;
}

#mainWrapper {
	/*height: 720px; Without explicit px values, % in children's does not work*/
	height: 100vh; /*with Viewport-Percentage, we can handles all devices screens  */
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

.login-container {
    margin-top: 100px;
    background-color: floralwhite;
    width: 40%;
    left: 30%;
    position: absolute;
}

.login-card {
    width: 80%;
    margin: auto;
}

.login-form {
    padding: 10%;
}

.header{
	display: block;
	background-color:#4c565c;
}

.header img {
	width:100%;
}

.footer{
	display: block;
	color: white;
	text-align: center;
}

.btn-default{
	height: 2.4em;
}

.input-group{
	float:right;
}

.panel-default{
	border: 0;
	background-color: transparent;
}

.divContainer{
	background-color: transparent;
}

.divBox{
	box-shadow: 2px 2px 2px;
	background-color: white;
	vertical-align: top;
	display:inline-block;
	width: 28.35em;
	height: 31em;
	margin: 1em;
}

.divBoxImage {
	text-align: center;
	height: 19.7em;
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.divBoxImage img {
	padding-bottom: 1em;
	height: inherit;
}

.divBoxText{
	vertical-align: middle;
	display: flex;
    justify-content: center;
    flex-direction: column;
	position: relative;
	margin-left: 0.35em;
	margin-top: 0.35em;
	width: 27.5em;
	height: 3em;
}

.divBoxTextDesc{
	font-style: italic;
	overflow: hidden;
	vertical-align: middle;
	display: flex;
    justify-content: center;
    flex-direction: column;
	position: relative;
	margin-left: 0.35em;
	margin-top: 0.35em;
	width: 27.5em;
	height: 4em;
	font-family: Roboto;
}


.divBoxText span {
	font-family: Roboto;
	font-size: 1.65rem;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
}

.divBoxIcons{
	margin-left: 0.35em;
	margin-top: 0.35em;
	width: 25.5em;
	height: 2.7em;
}

.calendar{
	color: #e0e0e0;
	display: inline-block;
	padding-top: 1em;
}

.rating{
	display: inline-block;
	margin-left: 11em;
}

.fa-cutlery{
	margin-left: 0.5em;
	color: #e0e0e0;
}